{% extends 'hr/base.html' %}

{%block title%}{{"About HouseRules"}}{%endblock%}

{%block content%}

<body>

<div class = 'about-item-container'>
	<div class="about-item-header">
		<h2>Welcome to HouseRules!</h2>
	</div>

	<div class="about-item-box">
		<h2>What is HouseRules?</h2>
		<h3>HouseRules.io is a project created by Charlie Gallentine, Nick Deas, and Jacob Sargent.</h3>
	</div>

	<div class="about-item-box">
		<h2>How can I find out more?</h2>
		<h3>For inquiries on how to get a poster, or just for general comments and questions, email Jacob at jacobvsargent@gmail.com.</h3>
	</div>
</div>


</body>


{%endblock%}
