{% extends 'hr/base.html' %}

{%block title%}{{"About HouseRules"}}{%endblock%}

{%block content%}

<body>

<div class = 'about-item-container'>
	<div class="about-item-header">
		<h2>Welcome to HouseRules!</h2>
	</div>

	<div class="about-item-box">
		<h2>What is HouseRules?</h2>
		<h3>houserules.io is a project created by Charlie Gallentine, Nick Deas, and Jacob Sargent. Simply put, it's a webapp that you can use to set your House Rules and share them with your friends.</h3>
	</div>

	<div class="about-item-box">
		<h2>How does the whole thing work?</h2>
		<h3>When you create a House, you get a QR code that leads to a custom houserules.io URL. Then, you can add all your rules and put the QR code on your houserules.io poster, so that when friends come over, they can just scan the poster.</h3>
	</div>

	<div class="about-item-box">
		<h2>What types of rules do I put on my house?</h2>
		<h3>This is, of course, up to you, though we have a Default House that you can look at with plenty of rulebooks for you to copy, ranging from drinking game details to Wifi Passwords and the rest of it.</h3>
	</div>

	<div class="about-item-box">
		<h2>How can I sign up?</h2>
		<h3>For inquiries on how to get a poster, or just for general comments and questions, email Jacob at jacobvsargent@gmail.com.</h3>
	</div>

	<div class="about-item-box">
		<h2>When will this product be released?</h2>
		<h3>Our plan is to launch after Holiday Season 2019.</h3>
	</div>

	<div class="about-item-box">
		<h2>What is the HouseRules webapp built on?</h2>
		<h3>The webapp and its corresponding services run on a combination of Google Cloud Services, the Django back-end, various plug-ins for Python and Django, and a lot of love.</h3>
	</div>

	<div class="about-item-box">
		<h2>I'm encountering a bug, what do I do?</h2>
		<h3>Email Jacob at jacobvsargent@gmail.com.</h3>
	</div>

	<div class="about-item-box">
		<h2>How much do the posters cost? Do I need a poster to make a house?</h2>
		<h3>You do not need a poster to create a house, and the posters will be free for the foreseeable future.</h3>
	</div>

</div>


</body>


{%endblock%}
