{% load static %}

<!DOCTYPE html>
 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'hr/house/ico.ico' %}"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'hr/house/style.css' %}"/>
	<script src="https://kit.fontawesome.com/74514636f8.js"></script>
	
	{% block css_js %}
	{% endblock %}

	<title> {% block title %} {% endblock %} </title>

</head>

<body>

<main class="main-content">

	<!-- Masthead -->

	<div class="masthead">

		<div class = 'logo-wrapper'>
			<a href='/' class="logo">
					<h1>HouseRules<!-- <i class="fas fa-home logo-icon" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;| -->    </h1>
			</a>
		</div>

		<!--<div class = 'rules-search'>
			<div class = "search-bar">
				<form method = "GET" action = "{% url 'search' %}">
					<input type = "search" name = "query" value = "{{ query }}" placeholder = "Search houses...">
					<input type = "submit" tabindex = "-1" id = "submit-button">
				</form>
			</div>
		</div>-->

 		{% if user.is_authenticated %}
		<div class = "user-settings" aria-label = "User Settings">
			<a href = "{% url 'my_houses' %}">
				<ul href="user-info">
					<li class="user-email">{{user.get_username}}</li>
					<li class="user-type">Proud Homeowner</li>
				</ul>
			</a>
		</div>
		{% endif %} 

		<div class="user-settings" aria-label="User Settings">

			{% if user.is_authenticated %}
				<a class = 'logmein' href = '/accounts/logout'>
					<h1> Logout </h1>
				</a>
			{% else %}
				<a class='logmein' href='/accounts/login'>
					<h1> Login!</h1>
				</a>
			{% endif %}
		</div>

	</div>
	<!-- End of masthead -->
	<div class = "search-bar">
		<form method = "GET" action = "{% url 'search' %}">
			<input type = "search" name = "query" value = "{{ query }}" placeholder = "Search Houses..." class = "search-field">
			<input type = "submit" tabindex = "-1" id = "submit-button" value = "Search" class = "search-button">
		</form>
	</div>


	{%block content%}
	{%endblock%}

<footer id = "footer" align = "center">
      <p> Copyright 2019 by Bet On It, LLC.  All Rights Reserved. </p>
</footer>

</main>


<nav class="sidebar">

	<button type = "button" onclick = "location.href='/'" class="collapse-btn menu-btn btn" aria-label="Expand Menu" title="Expand Menu">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
    </button>

</nav>


</body>