{% load static %}

<!DOCTYPE html>
 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'hr/house/ico.ico' %}"/>

	{% block css_js %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel = "stylesheet" type = "text/css" href = "{% static 'hr/house/style.css' %}"/>
		<script src="https://kit.fontawesome.com/74514636f8.js"></script>
	{% endblock %}

	<title> {% block title %} {% endblock %} </title>

</head>

<body>

<main class="main-content">

	<!-- Masthead -->

	<div class="masthead">

		<a href='/'>
			<div class="logo">
					<h1>HouseRules<i class="fas fa-home logo-icon" aria-hidden="true"></i></h1>
			</div>
		</a>

		<!--
		<div class="rules-search">
			<form>
				<input type="search" class="search-input" placeholder="search" aria-label="search rules">
				<i class="fas fa-search search-icon" aria-hidden="true"></i>
			</form>
		</div>
		-->



		<!-- ABOUT PAGE IN MASTHEAD 
		<div class='mastabout'>
			<a href='/about/'>
				<h1>About</h1>
			</a>
		</div> -->
		

		{% if user.is_authenticated %}
		<div class = "user-settings" tabindex = "0" aria-label = "User Settings">
			<a href = "{% url 'index' %}">
				<ul href="user-info">
					<li class="user-email">{{user.get_username}}</li>
					<li class="user-type">Proud Homeowner</li>
				</ul>
			</a>
		</div>
		{% endif %}

		<div class="user-settings" tabindex="0" aria-label="User Settings">
			<!--
			<div class="user-image">
				<i class="fas fa-user-circle" aria-hidden="true"></i>
			</div>
			-->
			{% if user.is_authenticated %}
			<a class = 'logmein' href = '/accounts/logout'>
				<h1> &nbsp;&nbsp;&nbsp;Logout </h1>
			</a>
			{% endif %}
			{% if not user.is_authenticated %}
				<a class='logmein' href='/accounts/login'>
					<h1> &nbsp;&nbsp;&nbsp;Login!</h1>
				</a>
			{% endif %}
			</ul>
		</div>

	</div>
	<!-- End of masthead -->


	{%block content%}
	{%endblock%}

<footer id = "footer" align = "center">
      <p> Copyright 2019 by Bet On It, LLC.  All Rights Reserved. </p>
</footer>

</main>

<nav class="sidebar">

	<button type = "button" onclick = "location.href='/'" class="collapse-btn menu-btn btn" aria-label="Expand Menu" title="Expand Menu">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
    </button>

</nav>




</body>