{% extends 'hr/base.html' %}

{%block title%}{{House.house_name}}{%endblock%}

{%block css_js%} 
<script>

function housePopup(rb_id) {
	var popup = document.getElementById("houseSelPopup");
	popup.classList.toggle('show');
	
	var links = document.getElementsByClassName("popup-copy-link");
	var i;
	for(i = 0; i < links.length; i++) {
		link = links[i]
		link.href += rb_id + "/"
	}

}

function editName() {
	var popup = document.getElementById("nameEditPopup");
	popup.classList.toggle('show');
}

</script>
{% endblock %} HEY!: MIGHT NEED TO CHANGE THIS SO YOU DON'T OVERWRITE

{%block content%}

<!-- <body> -->

	<!-- Rules Header -->
	<div class="rules-items-controls">

		{% if rulebook_list %}
			<h2>Here are the rulebooks for {{House}}.</h2>
		{% else %}
		    <h2>No rulebooks are available for {{House}}.</h2>
		{% endif %} 

	</div>


	<div class = 'house-menu-container'>

		{% if request.user.is_authenticated %}
			{% if not House.creator.username == request.user.username %}
				{% if House in request.user.profile.my_houses %}
					<a class = 'remove-house' href = '/add_house/{{ House.id }}/' style = "text-decoration:none">
						Unfollow House
					</a>
				{% else %}
					<a class = 'add-house' href = '/add_house/{{ House.id }}/' style = "text-decoration:none">
						Follow House
					</a>
				{% endif %}
			{% else %}	
				<a href = '/del_house/{{ House.id }}/' style = "text-decoration:none">
					Delete House
				</a>
				<a style = "text-decoration:none" onclick = "editName()">
					Edit Name
				</a>
			{% endif %}

			<a href = '/copy_house/{{ House.id }}/' style = "text-decoration:none">
				Copy House
			</a>
		{% endif %}

	</div>


	<!-- Actual Rules -->
	<div class="rules-items-container">

		{% for rulebook in rulebook_list %}
			<div class="rules-item password-item" tabindex="0">
				{% if rulebook.parent_house.creator.username == request.user.username %}
					<div class = "rules-item-menu">
						<a class = "rules-item-menu-option" href = "/del_rulebook/{{ rulebook.id }}" style = "color: #880000">
							Delete
						</a>
						<a class = "rules-item-menu-option" onclick = "housePopup({{ rulebook.id }})" style = "color: #000088">
							Copy
						</a>
					</div>
				{% else %}
					<a class = "rules-item-menu" href = "/rulebook/{{ rulebook.id }}/">
						<div>

						</div>
					</a>
				{% endif %}

				<a class = "rules-item-content" href = "/rulebook/{{ rulebook.id }}/" style="text-decoration:none">
				
					<div class="rules-item-info">
						<h3 class="rules-item-name">{{ rulebook.rulebook_name }}</h3>
						<h4 class="rules-item-summary">Find out the rules of {{ rulebook.rulebook_name }}...</h4>
					</div>
				</a>
			</div>
		{# </a> #}
		{% endfor %}

		<a href="/rulebook/new/{{ House.id }}/"> 
			<h2>Create Rulebook</h2>
		</a>

	</div>

	<div class="rules-item-header">
		<a href = "/">
			<h2>Return to the homepage.</h2>
		</a>
	</div>

	<span class = "popup-backdrop" id = "houseSelPopupBack">         </span>

	<span class = "popup" id = "houseSelPopup"> 
		<div class = "popup-frame">
			<div class = "popup-frame-title">
				Choose a house to copy this rulebook to!
			</div>
			<div class = "popup-frame-house-list">
				{% for house in user.owned_houses.all %}
					<a href = "/copy_rulebook/{{ house.id }}/" class = "popup-copy-link">
						<p> Copy to {{house.house_name}} </p>
					</a>
				{% endfor %}
				<a href = "/" class = 'popup-copy-link'>Go back to House Rules page</a>
			</div>
		</div>
	</span>

	<span class = "popup" id = "nameEditPopup"> 
		<div class = "popup-frame">
			<div class = "popup-frame-title">
				Enter a new name for the house.
			</div>
			<div class = "popup-edit">
				<form method = "POST">
					{% csrf_token %}
					<input name = "new_name" placeholder= "{{ House.house_name }}">
					<button type = "submit"> Submit Changes </button>
				</form>
			</div>
		</div>
	</span>

<!-- </body> -->

{%endblock%}


