{% load static %}

<!DOCTYPE html>

<head>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'hr/house/style.css' %}"/>
		{% block css_js %}
		{% endblock %}
</head>


<h1>{{ House }}</h1>

<hr> 

{% if rulebook_list %}
	<h1>Here are the rulebooks we have on file.</h1>
	<ul>
    {% for rulebook in rulebook_list %}
        <li><a href="/rulebook/{{ rulebook.id }}/">{{ rulebook.rulebook_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rulebooks are available.</p>
{% endif %} 


