{% extends 'hr/base.html' %}

{%block title%}{{House.house_name}}{%endblock%}

{%block content%}

<body>

	<!-- Rules Header -->
	<div class="rules-items-controls">

	{% if rulebook_list %}
		<h2>Here are the rulebooks for {{House}}.</h1>
	{% else %}
	    <h2>No rulebooks are available.</h2>
	{% endif %} 

	</div>


	<!-- Actual Rules -->
	<div class="rules-items-container">

		{% for rulebook in rulebook_list %}
		<a href = "/rulebook/{{ rulebook.id }}/" style="text-decoration:none">
			<div class="rules-item password-item" tabindex="0">
				<div class="rules-item-thumbnail">
					<i class = "{{rulebook.icon_link}}" aria-hidden = "true"></i>
				</div>
				<div class="rules-item-info">
					<h3 class="rules-item-name">{{ rulebook.rulebook_name }}</h3>
					<h4 class="rules-item-summary">Find out the rules of {{ rulebook.rulebook_name }}...</h4>
				</div>
			</div>
		</a>
		{% endfor %}

		<a href="/rulebook/new"> 
			<h2>Create Rulebook</h2>
		</a>

	</div>

	<div class="rules-item-header">
		<a href = "/">
			<h2>Return to the homepage.</h2>
		</a>
	</div>

</body>

{%endblock%}


