{% extends 'hr/base.html' %}

{%block title%}houserules.io{%endblock%}

{%block content%}

<!-- <body> -->
	<!-- Rules Header -->
	<div>
		<h2>Welcome to HouseRules!</h2>
	</div>


	<!-- Actual Rules -->
	<div class="rules-items-container">

		{% for house in house_list %}
		<a href = "/house/{{ house.id }}/">
			<div>
				<div>
					<i class="fas fa-home" aria-hidden="true"></i>
				</div>
				<div>
					<h3>{{ house.house_name }}</h3>
					<h4>Find out the rules of {{ house }}...</h4>
				</div>
			</div>
		</a>
		{% endfor %}

		<a href="/house/new"> 
			<h2>Create House</h2>
		</a>

	</div>


<!-- </body> -->

{%endblock%}

