{% extends 'hr/base.html' %}

{%block title%}Create Rulebook{%endblock%}

<script>
    function autoFill(testing) {
        document.getElementById('testID').value = testing;           
    }
</script>

{%block content%}

  <!-- Form Begins -->
  <div>

  <div>

    <form method="post" id='entry-form'>

      {% csrf_token %}

      <p>Create a new rulebook!</p>
      <br>

      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small>{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}

      <h4>Here are the icon choices, just enter the text into the "Icon Link" field!</h4>

      <div class="icon-container">

        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-home" aria-hidden="true"></i>
              <p>fas fa-home</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-wifi" aria-hidden="true"></i>
              <p>fas fa-wifi</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-angry" aria-hidden="true"></i>
              <p>fas fa-angry</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-grin-wink" aria-hidden="true"></i>
              <p>fas fa-grin-wink</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-toilet" aria-hidden="true"></i>
              <p>fas fa-toilet</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-bus" aria-hidden="true"></i>
              <p>fas fa-bus</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-capsules" aria-hidden="true"></i>
              <p>fas fa-capsules</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-crown" aria-hidden="true"></i>
              <p>fas fa-crown</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-dizzy" aria-hidden="true"></i>
              <p>fas fa-dizzy</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-donate" aria-hidden="true"></i>
              <p>fas fa-donate</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <p>fas fa-heart</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-info" aria-hidden="true"></i>
              <p>fas fa-info</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-key" aria-hidden="true"></i>
              <p>fas fa-key</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-moon" aria-hidden="true"></i>
              <p>fas fa-moon</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-music" aria-hidden="true"></i>
              <p>fas fa-music</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-plug" aria-hidden="true"></i>
              <p>fas fa-plug</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-route" aria-hidden="true"></i>
              <p>fas fa-route</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-trash" aria-hidden="true"></i>
              <p>fas fa-trash</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-tshirt" aria-hidden="true"></i>
              <p>fas fa-tshirt</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-users" aria-hidden="true"></i>
              <p>fas fa-users</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-times" aria-hidden="true"></i>
              <p>fas fa-times</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-skull" aria-hidden="true"></i>
              <p>fas fa-skull</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-beer" aria-hidden="true"></i>
              <p>fas fa-beer</p>
            </button>
        </div>
        <div class = 'icon-item'>
            <button type='button' form='entry-form'>
              <i class="fas fa-bed" aria-hidden="true"></i>
              <p>fas fa-bed</p>
            </button>
        </div>

      </div>

      <button type="submit">Create rulebook!!</button>
    </form>

  </div>
  </div>


{% endblock %}
