{% extends 'hr/base_form.html' %}

{%block title%}Create Rule{%endblock%}

{%block content%}

  <!-- Form Begins -->
  <div class = "form-cont">

  <div class = "form-controls">

    <form method="post">

      {% csrf_token %}

      <p>Create a new rule!</p>
      <br>

      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      
      </div>
    </form>

    <button type="submit">Create rule!</button>

  </div>
  </div>

  <!-- Form ends -->

{% endblock %}
