{% extends 'hr/base_form.html' %}

{%block title%}Create Rulebook{%endblock%}

<script>
    function autoFill(testing) {
        document.getElementById('testID').value = testing;           
    }
</script>

{%block content%}

  <!-- Form Begins -->
  <div class = "form-cont">

  <div class = "form-controls">

    <form method="post" id='entry-form'>

      {% csrf_token %}

      <p>Create a new rulebook!</p>
      <br>

      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}

      <div class="icon-container">
        {% for i in '0123456789123452'|make_list %}
          <div class = 'icon-item'>
            <button type='button' form='entry-form' onclick="autofill('id_icon_link');">
              <i class="fas fa-home logo-icon" aria-hidden="true"></i>
              <p>fas fa-home</p>
            </button>
          </div>
        {% endfor %}
      </div>

      <button type="submit">Create rulebook!!</button>
    </form>

  </div>
  </div>


{% endblock %}
