{% extends 'hr/base.html' %}

{%block title%}{{Rulebook.rulebook_name}}{%endblock%}

{%block content%}

<body>


	<!-- Rules Header -->
	<div class="rules-items-controls">

	{% if rule_list %}
		<h2>Here are {{Rulebook}}.</h1>
	{% else %}
	    <h2>No rules are available.</h2>
	{% endif %} 

	<a href = "/house/{{Rulebook.parent_house.id}}/">
		<h2>Return to the {{Rulebook.parent_house}} homepage.</h2>
	</a>

	</div>


	<!-- Actual Rules -->
	<div class="rules-items-container">

		{% for rule in rule_list %}
		<a href = "/rule/{{ rule.id }}/" style="text-decoration:none">
			<div class="rules-item password-item" tabindex="0">
				<div class="rules-item-thumbnail">
					<i class="fas fa-beer" aria-hidden="true"></i>
				</div>
				<div class="rules-item-info">
					<h3 class="rules-item-name">{{ rule.rule_name }}</h3>
					<h4 class="rules-item-summary">Find out the rules of {{ rule.rule_name }}...</h4>
				</div>
			</div>
		</a>
		{% endfor %}

		<a href="/rule/new"> 
			<h2>Create Rule</h2>
		</a>


	</div>


</body>

{%endblock%}


