{% load static %}

<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block css_js %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel = "stylesheet" type = "text/css" href = "{% static 'hr/house/style.css' %}"/>
		<script src="https://kit.fontawesome.com/74514636f8.js"></script>
	{% endblock %}

	<title>{{Rulebook}}</title>
</head>

<body>

<main class="main-content">

	<!-- Masthead -->

	<div class="masthead">

		<div class="logo">
			<h1>House Rules<i class="fas fa-home logo-icon" aria-hidden="true"></i></h1>
		</div>

		<div class="rules-search">
			<form>
				<input type="search" class="search-input" placeholder="search my rules" aria-label="search rules">
				<i class="fas fa-search search-icon" aria-hidden="true"></i>
			</form>
		</div>

		<div class="user-settings" tabindex="0" aria-label="User Settings">
			<div class="user-image">
				<i class="fas fa-user-circle" aria-hidden="true"></i>
			</div>
			<ul class="user-info">
				<li class="user-email">placeholder@email.com</li>
				<li class="user-type">Proud Homeowner</li>
			</ul>
		</div>

	</div>
	<!-- End of masthead -->


	<!-- Rules Header -->
	<div class="rules-items-controls">

	{% if rule_list %}
		<h2>Here are the rules for {{Rulebook}}.</h1>
	{% else %}
	    <h2>No rules are available.</h2>
	{% endif %} 

	<a href = "/house/{{Rulebook.parent_house.id}}/">
		<h2>Return to the {{Rulebook.parent_house}} homepage.</h2>
	</a>

	</div>


	<!-- Actual Rules -->
	<div class="rules-items-container">

		{% for rule in rule_list %}
		<a href = "/rule/{{ rule.id }}/" style="text-decoration:none">
			<div class="rules-item password-item" tabindex="0">
				<div class="rules-item-thumbnail">
					<i class="fas fa-beer" aria-hidden="true"></i>
				</div>
				<div class="rules-item-info">
					<h3 class="rules-item-name">{{ rule.rule_name }}</h3>
					<h4 class="rules-item-summary">Find out the rules of {{ rule.rule_name }}...</h4>
				</div>
			</div>
		</a>
		{% endfor %}

	</div>

	<div id = "footer" align = "center">
      <p> Copyright 2019 by Bet On It, LLC.  All Rights Reserved. </p>
    </div>


</main>

<nav class="sidebar">

	<button class="collapse-btn menu-btn btn" aria-label="Expand Menu" title="Expand Menu">
            <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </button>

</nav>

</body>









<!--
<li><a href="/rule/{{ rule.id }}/">{{ rule.rule_name }}</a></li>
  

<p>This rule is a part of the {{Rulebook.parent_house}}.</p>
<a href = "/house/{{Rulebook.parent_house.id}}/">Return to the {{Rulebook.parent_house}} homepage.</a>


