{% extends 'hr/base.html' %}

{%block title%}{{Rulebook.rulebook_name}}{%endblock%}

{%block content%}

<!-- <body> -->


	<!-- Rules Header -->
	<div>

	{% if rule_list %}
		<h2 class="house-owner-banner">{{Rulebook}}</h1>
	{% else %}
	    <h2 class="house-owner-banner">No rules are available.</h2>
	{% endif %} 

	</div>


	<!-- Actual Rules -->
	<div class="content-list">

		{% for rule in rule_list %}
		<a href = "/rule/{{ rule.id }}/">
			<!-- <div> -->
				<!-- <div>
					<i class="fas fa-beer" aria-hidden="true"></i>
				</div> -->
				<div class="content-list-view">
					<h3 class="content-list-name">{{ rule.rule_name }}</h3>
					<!-- <h4>Find out the rules of {{ rule.rule_name }}...</h4> -->
				</div>
				<div><i class="icon far fa-heart"></i> <i class="icon far fa-comment"></i> <i class="icon fas fa-external-link-alt"></i></div>
			<!-- </div> -->
		</a>
		{% endfor %}

		<!-- <a href="/rule/new"> 
			<h2>Create Rule</h2>
		</a> -->

		<div class="btn-main-sel">
			<div class="btn">
				<a href="/rule/new"> 
					<h2>Create Rule</h2>
				</a>
			</div>
		</div>

		<div class="btn-main-sel">
			<div class="btn">
				<a href="/house/{{Rulebook.parent_house.id}}/"> 
					<h2>Return to {{Rulebook.parent_house}}</h2>
				</a>
			</div>
		</div>

	</div>

	<!-- <div>
		<a href = "/house/{{Rulebook.parent_house.id}}/">
			<h2>Return to the {{Rulebook.parent_house}} homepage.</h2>
		</a>
	</div> -->


<!-- </body> -->

{%endblock%}


