/*
* @Author: Charlie Gallentine
* @Date:   2019-08-27 16:02:38
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2019-08-27 16:31:33
*/

:root {
    --blue : #4e8ff1;
    --dark-blue : #1E6AE1;
    --red : #e1341e;
    --purple : #961EE1;
    --white : #FFF;
    --grey : #808080;
    --teal : #53b3d2;
    --black: #000;

    --font-small : 10px;
}

* {
	box-sizing: border-box;
}

body {

}

.content {
	height : 80vh;
}


.masthead {
	align-items: center;
	background-color: var(--blue);
	display: flex;
	height : 10vh;
	justify-content: center;
	max-height: 100px;
	min-height: 50px;
}

.footer {
	align-items: center;
	background-color: var(--grey);
	color : var(--white);
	display: flex;
	font-size: var(--font-small);
	height : 10vh;
	justify-content: center;
	max-height: 60px;
	min-height: 50px;
}